:root {
    --bg-color: rgb(156, 133, 28);
    --main-color: black;
    /* --main-color-transparent: rgba(255, 166, 0, 0.459);
    --header-font-family: Helvetica, sans-serif; */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--main-color);
    text-align: center;
  }