:root {
    --bg-color: #21a292;
    --main-color: black;
    /* --main-color-transparent: rgba(255, 166, 0, 0.459);
    --header-font-family: Helvetica, sans-serif; */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--main-color);
    text-align: center;
  }

  #beer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .beer-card {
    border: 3px solid var(--main-color);
    border-radius: 25px;
  }

  .beer-card img {
    width: 300px;
    height: 250px;
    object-fit: contain;
  }

  .beer-card .likes {
    font-style: bold
  }

  #category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .category-card {
    border: 3px solid var(--main-color);
    border-radius: 25px;
  }

  .category-card img {
    width: 300px;
    height: 250px;
    object-fit: contain;
  }

  .category-card .title {
    font-size: 14 px;
    color: white;
  }

  .show img {
    width: 100%;
    height: 40vh;
    object-fit: contain;
  }

  button {
    position: relative;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 3rem;
    width: max-content;
    font-size: 16px;
    justify-self: center;
  }

  .like-button {
    position: relative;
    background-color: red;
    border: none;
    border-radius: 10px;
    height: 3rem;
    width: max-content;
    font-size: 16px;
    justify-self: center;
  }

  
  