:root {
    --bg-color: #21a292;
    --main-color: black;
    /* --main-color-transparent: rgba(255, 166, 0, 0.459);
    --header-font-family: Helvetica, sans-serif; */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--main-color);
    text-align: center;
  }

  #beer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .beer-card {
    display: inline-grid;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    width: 350px;
    height: 700px;
  }

  .beer-card img {
    width: 300px;
    height: 250px;
    object-fit: scale-down;
  }

  .beer-card .likes {
    font-weight: bold
  }

  #category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .category-card {
    margin: 10px;
    background-color: black;
    border: 3px solid var(--main-color);
    border-radius: 25%;
  }

  .category-card img {
    width: 300px;
    height: 250px;
    object-fit: contain;
  }

  .category-card .title {
    font-size: large;
    font-weight: bolder;
    color: white;
  }

  .show img {
    width: 100%;
    height: 40vh;
    object-fit: contain;
  }

  .home-button {
    position: relative;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 3rem;
    width: max-content;
    font-size: 16px;
    justify-self: center;
  }

  .like-button {
    position: relative;
    box-shadow: 2px 4px;

    background-color: none;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    height: 3rem;
    width: max-content;
    font-size: 16px;
    justify-self: center;
  }

  .random-button {
    position: relative;
    box-shadow: 2px 4px;

    background-color: none;
    border-color: gold;
    border-style: solid;
    border-radius: 10px;
    height: 3rem;
    width: max-content;
    font-size: 16px;
    justify-self: center;
  }

  
  